<!DOCTYPE html>
<html>
    
<head>
   

    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    
    <script>
        function uredivanje(id) {
            //Uklanja tablicu da se ne vidi
            document.getElementById("tablica").style.display = 'none'
            let igrac
            let igraci = <%- JSON.stringify(igraci) %>
            
            for(let tmp of igraci) {
                if(tmp.idKorisnik == id){
                    igrac = tmp
                    break
                }
            }
            
            document.getElementById("uredivac").style.display = 'block'

            document.getElementById("idKorisnik").value = igrac.idKorisnik
            document.getElementById("username").value = igrac.username
            document.getElementById("email").value = igrac.email
            document.getElementById("password").value = igrac.password
            document.getElementById("foto").value = igrac.foto
            document.getElementById("aktivan").value = igrac.aktivan
            document.getElementById("role").value = igrac.role
            document.getElementById("elobodovi").value = igrac.elobodovi
            document.getElementById("iskustvo").value = igrac.iskustvo

        }

        function odustaniOdUredivanja() {
            document.getElementById("uredivac").style.display = 'none'
            document.getElementById("tablica").style.display = 'table'
        }
        
    </script>
    <style>
        tr:nth-child(even) {
        background-color: rgb(255, 187, 0);
        }
        tr:nth-child(odd) {
        background-color: rgb(255, 238, 0);
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> 
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/styles/edit.css">
</head>

<body class=" container" style="background :url('../../images/284607.jpg') no-repeat center fixed;background-size: cover;">
    
    <a href="/admin"><button class="btn btn-danger">Povratak</button></a>
    <table class="table" id="tablica">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Aktivan</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
    <% for (let igrac of igraci) { %>
        <tr>
            <th><%= igrac.idKorisnik %></th>
            <th><%= igrac.username %></th>  
            <th><%= igrac.email %></th>
            <th><%= igrac.aktivan %></th>
            <th><%= igrac.role %></th>
            <th><button class="btn btn-dark" onClick="uredivanje(<%= igrac.idKorisnik %>)">Uredi</button></th>
        </tr>
    <% } %>
    </table>
    <div id="uredivac" class="editor" style='display:none'>
        <form action="/admin/listaIgraca" method="post">
            <fieldset>
                <legend>Izmjena podataka Igraca</legend>
                <label for="idKorisnik">idKorisnik:</label>
                <input type="text" name="idKorisnik" id="idKorisnik" maxlength="20" minlength="0" readonly="readonly">
                <br>
                <br>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" minlength="5">
                <br>
                <br>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" minlength="5">
                <br>
                <br>
                <label for="password">Password:</label>
                <input type="text" id="password" name="password">
                <br>
                <br>
                <label for="foto">Foto:</label>
                <input type="text" name="foto" id="foto" minlength="0">
                <br>
                <br>
                <label for="aktivan">Aktivan:</label>
                <input type="text" name="aktivan" id="aktivan" minlength="0">
                <br>
                <br>
                <label for="role">Role:</label>
                <input type="text" id="role" minlength="0" readonly="readonly">
                <br>
                <br>
                <label for="elobodovi">Elo Bodovi:</label>
                <input type="text" id="elobodovi" name="elobodovi">
                <br>
                <br>
                <label for="iskustvo">Iskustvo:</label>
                <input type="text" id="iskustvo" name="iskustvo">
                <br>
                <br>

                <button type="submit" class="button">Izmijeni</button>
                <button type="button" class="button" onClick="odustaniOdUredivanja()">Odustani</button>
            </fieldset>
        </form>
    </div>

    
   
</body>
</html>