<!DOCTYPE html>
<html>
    
<head>
   

    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    
    <link rel="stylesheet" type="text/css" href="./public/styles/main.css">
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>

<body class="">
    
    <a href="/admin"><button>Povratak</button></a>
    <table id="tablica">
    <% for (let lokacija of lokacije) { %>
        <tr>
            <th><%= lokacija.imeLokacije %></th>
            <th><%= lokacija.snaga %></th> 
            <th><%= lokacija.x %></th>
            <th><%= lokacija.y %></th>
        </tr>
    <% } %>
    </table> 
   
</body>
</html>